/*border box*/
* {
  /*bxz*/
  /*el tamaño de la caja incluye margin y border*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*RESET*/
header, body, nav, section, article, footer, h1, h2, p{
  padding: 0px;
  margin: 0px auto;
}
html{
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3{
    font-family: 'Niconne', cursive;
}

/*CLEARFIX*/
.clearfix{
    overflow: auto;
}

/*barra de navegación*/
.navbar {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: rgb(150, 150, 150);
    border-bottom: #00000 solid 3px;
}
    .navbar .navbar-list{
        list-style-type: none;
        float: right;
        padding: 0px;
        margin: 0px;
    }
    .navbar .navbar-list .navbar-item{
        padding: 0.8rem;
        display: inline-block;
    }
    .navbar .navbar-list .navbar-item a{
        text-decoration: none;
        font-size: 1.1rem;
        color: rgb(255, 255, 255);
    }
    .navbar .navbar-list .navbar-item.active {
    	color: #F7F7F7;
    	background-color: #648430;
    }
    .navbar .navbar-list .navbar-item.active-reverse {
    	color: #101010;
    	background-color: #F7F7F7;
    }

/*cabecera, ocupa todo un viewport*/
header {
    width: 100%;
    height: 100vh;
    background-image: url("../images/mural-3.jpg");
    /*background-image: url("https://placekitten.com/g/1080/900");*/
    background-size: cover;
    color: white;
}
    header>h1{
        padding: 4rem 0 0 2rem;
        align-content: center;
        font-size: 4rem;
        font-weight: 600;
    }
    header>p{
        padding: 0 0 0 2rem;
        font-size: 1.4rem;
    }

/*contenedor global*/
.container{
    width: 100%;
    padding: 2rem 0;
    margin: 0px auto;
    text-align: center;
    }

/* SECCIONES */
    /*titulo secciones*/
h2 {
    font-size: 2rem;
    padding: 0.8rem;
    display: inline;
}

.mask{
  display: inline-block;
  vertical-align: top;
}

.shadow{
  display: inline-block;
  overflow: hidden;
  height: 20px;
  margin-top: 23px; /*it's necesary change with size text*/
}

.shadow:after{
  content:'';
  display: inline-block;
  vertical-align: middle;
  width: 300px;
  height:25px;
  border-radius: 140px / 10px;
  box-shadow:0 0 11px #648430;
  margin-top: -55px; /*it's necesary change with size text*/
}

/*SECCION QUIEN SOY*/
#quien-soy img{
    float: left;
    margin-right: 2rem;
}

h2.oculto{
    display: none;
}

/*SECCIONES EXPERIENCIA PROFESIONAL Y ESTUDIOS*/
.container article{
    margin: 2rem 0 0 0;
    padding: 10px;
    max-width: 1000px;
    margin: 0 auto;
    font-size: 0.9rem;
}

    .container article p.fechas{
        display: inline;
        font-size: 0.9rem;
        padding-right: 10px;
    }
    .container article h3{
        display: inline;
        font-size: 1.8rem;
        font-weight: normal;
    }
    .container article .lugar,
    .container article .descripcion{
        display: block;

    }
    .container article ul{
        max-width: 50%;
        text-align: center;
        margin: 0.5rem auto;
        padding: 0px;
        list-style-type: none;

    }
    .container .derecha{
        float: right;
        width: 50%;
    }
    .container .derecha .shadow::after,
    .container .izquierda .shadow::after{
        width: 100px;
        box-shadow:0 0 8px #648430;
    }
    .container .izquierda{
        float: left;
        width: 50%;
    }
    /*oculto por defecto*/
    .container article .actividades{
        max-height: 0px;
        overflow: hidden;
    }
    .container article .actividades-visible{
        max-height: 350px;
        overflow: hidden;
        animation: slide_down 1.5s forwards;
    }
    @keyframes slide_down{
        0% {
            max-height: 0;
        }
        100% {
            max-height: 350px;
        }
    }

/*SECCION SOBRE MI*/
.sobremi{
    width: 100%;
    background-color: rgb(150, 150, 150);
}
    .sobremi iframe{
        margin: auto;
        display: block;
    }
    .sobremi img{
        width: 100%;
    }
    .sobremi .shadow:after{
      box-shadow:0 0 10px #FFFFFF;
    }

/*FOOTER*/
footer{
    width: 100%;
    text-align: center;
    padding: 3rem 0;
}
    footer p{
        margin: auto;
    }
    footer .email{
        font-size: 0.8rem;
    }

/*otros*/
.introduccion{
    font-size: 2rem;
    font-family: 'Niconne', cursive;
    /*font-weight: bolder;*/
    padding: 0.5rem 0;
}

/*FORMULARIO CONTACTO*/
form{
    padding-top: 2rem;
    margin: 0 auto;
}
    form .mensaje{
        display: block;
    }
    .form-row{
        display: block;
        width: 800px;
        padding: 2rem 0 0 0;
        margin: 0px auto;
    }
    .meetme {
        display: inline-block;
        text-align: left;

    }
    .meetme label:not(#meet_5)::after {
        content: " ";
        display: block;
    }
    .meetme #otros{
        display: none
    }
